body {
	font-family: Cousine;
	width: 100%;
	margin: 0;
	background-color: #00bbff;
}

a {
	color: white;
	text-decoration: none;
}

.headerBanner {
	height: 50px;
	background-color: #00d600;
	box-shadow: 0px 2px 2px #808080ba;
	position: fixed;
	width: 100%;
}

.headerText {
	color: white;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	padding: 15px;
}

.wrapper {
	z-index: -1;
	width: 100%;
	border-top: solid white 55px;
}

.contentWrapper {
	z-index: 0;
	max-width: 720px;
	color: white;
	padding: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.singleItem {
	padding: 10px;
	border: solid white 2px;
	border-top-left-radius: 15px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 0;
}

.singleItem:hover {
	box-shadow: 0px 0px 10px white;
}

.itemTitle {
	font-size: 20px;
	margin-bottom: 10px;
}

.itemInfo {
	margin-top: 10px;
	font-size: 12px;
}

.bannerFooter {
	height: 20px;
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: #676767;
	bottom: 0;
}

.bannerFooterMail {
	float: right;
	padding: 3px 10px;
}